<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.winter.app.departments.DepartmentDAO">
		
		<!-- detail -->
		<select id="getDetail" resultType="com.winter.app.departments.DepartmentDTO" parameterType="com.winter.app.departments.DepartmentDTO">
			SELECT * FROM DEPARTMENTS WHERE DEPARTMENT_ID= #{department_id}
		</select>
		<!-- list -->
		<select id="getList" resultType="com.winter.app.departments.DepartmentDTO">
			SELECT * FROM DEPARTMENTS
		</select>
		
		<!-- add -->		
		<select id="getAdd" parameterType="com.winter.app.departments.DepartmentDTO">
			INSERT INTO DEPARTMENTS(DEPARTMENT_ID,DEPARTMENT_NAME)
			VALUES (DEPARTMENTS_SEQ.NEXTVAL,#{department_name})					
		</select>  	
		
		<!--update-->
		<select id="getUpdate" parameterType="com.winter.app.departments.DepartmentDTO">
			UPDATE DEPARTMENT SET DEPARTMENT_NAME=#{department_name}
			WHERE DEPARTMENT_ID=#{department_id}
		</select>
	</mapper>
